<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1>Add User</h1>
    <form action="/addusers" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="id">ID:</label><br>
        <input type="number" id="id" name="id"><br><br>
        <input type="submit" value="Add">
        <input type="button" value="Submit" onclick="window.location.href='/getusers';">
    </form>
    {% if names_above_5 %}
    <h2>Output:</h2>
    <pre>{“names_with_ids_above_5”: [{% for name in names_above_5 %}“{{ name }}”{% if not loop.last %}, {% endif %}{% endfor %}]}</pre>
    {% endif %}
</body>
</html>
